html, body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: lighter;
}
main {
    margin: 48px 0;
}

textarea {
    resize: none;
    min-height: 96px;
}

nav .navbar-nav li, nav .navbar-nav li a {
    color: white !important;
}

.navbar-nav {
    flex-direction: row;
    align-items: center;
}

.bg-primary {
    background-color: #304FFE !important;
}