{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <h1>Bonjour, Le Monde</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt odio metus, vel condimentum velit ornare non. Integer quis nibh aliquet, dapibus velit sit amet, rutrum justo. Aenean ac enim sed eros pulvinar eleifend egestas a quam. Nam fermentum vel nisi eget maximus. Nulla tortor nisi, lacinia eu eros vitae, mollis semper odio. Aenean scelerisque placerat neque, sit amet molestie tortor consectetur sed. Sed et pharetra nulla, et tincidunt ex. Cras tempus dolor eget mauris tincidunt mollis. Aliquam a leo sed lacus tristique eleifend a id mi. Nullam rhoncus sed nibh sit amet vestibulum. Phasellus ac mollis augue. Etiam congue lorem nec nibh fringilla interdum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum eros ac libero imperdiet, et lacinia ipsum fringilla. Sed non nisl massa. Proin vestibulum accumsan est vel semper. Morbi sagittis bibendum diam. Etiam convallis eros eget ultrices accumsan. Nullam sed risus vitae diam porta condimentum. In hac habitasse platea dictumst. Mauris accumsan, ligula id dapibus laoreet, nulla est semper eros, a lobortis nulla odio non dolor. Donec mi ante, scelerisque vel tincidunt id, dapibus tincidunt ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare molestie metus dapibus blandit. Vestibulum at consectetur nibh, sit amet elementum elit. Fusce tristique odio condimentum, porta sem vel, lacinia arcu. Sed vel velit et lacus efficitur posuere.
      </p>
    </div>
  </div>
</div>
{% endblock %}